<header>
  <h3>New Comment</h3>
</header>

<%= bootstrap_form_with model: [ticket, comment], local: true do |f| %>
  <%= f.text_area :text %>
  <%= f.select :state_id, @states.map { |state| [state.name, state.id] } %>
  <%= f.primary %>
<% end %>
