<div class="row">
  <div class="col-md-9">
    <header>
      <h1>Admin Lounge</h1>
    </header>

    <p>Welcome to Ticketee's Admin Lounge. Please enjoy your stay.</p>
  </div>

  <div class="col-md-3">
    <h5 class="text-uppercase mt-4">Admin Links</h5>
    <ul class="nav flex-column">
      <li><%= link_to "Users", admin_users_path %></li>
      <li><%= link_to "States", admin_states_path %></li>
    </ul>
  </div>
</div>
