@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import "comments";
@import "tickets";

.page-header {
  @extend .pb-2, .mt-4, .mb-2, .border-bottom, .row;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .col-sm-12, .col-md-6;
  }

  ul.actions {
    @extend .col-sm-12, .col-md-6;
    @extend .list-unstyled, .list-inline;

    li {
      @extend .list-inline-item;
    }

    text-align: right;
  }
}

a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

header {
  @extend .pb-2, .mt-4, .mb-2, .border-bottom, .row;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .col-sm-12, .col-md-6;
  }

  ul.actions {
    @extend .col-sm-12, .col-md-6;
    @extend .list-unstyled, .list-inline;

    li {
      @extend .list-inline-item;
    }

    text-align: right;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.tickets li,
.states li {
  padding-bottom: 10px;
}
